<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-4 opacity-0 translate-y-2 transition-all duration-500 will-change-transform"
  data-animate
>
  
  <a href="/#inicio" aria-label="Ir a inicio" class="inline-flex items-center">
    <span class="sr-only">Inicio</span>
    <svg class="size-8 text-white" viewBox="0 0 24 24" fill="currentColor">
      <path
        d="M12 3.172 2.293 12.88a1 1 0 1 0 1.414 1.414L5 13.001V20a2 2 0 0 0 2 2h3v-6h4v6h3a2 2 0 0 0 2-2v-6l1.293 1.293a1 1 0 1 0 1.414-1.414L12 3.172z"
      ></path>
    </svg>
  </a>
  
  <nav class="hidden md:flex flex-row gap-x-10 opacity-90">
    <a href="/#sobre-mi">Sobre mí</a>
    <a href="/#experiencia">Experiencia</a>
    <a href="/#proyectos">Proyectos</a>
  </nav>
</header>

